* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #ffffe0;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cust__active {
  font-weight: bolder;
}

.header {
  background-color: hotpink;
}

a:hover {
  text-decoration: none;
}

.data-collapse {
  background-color: hotpink;
  z-index: 3;
}

div > p.lorem {
  z-index: 0;
  display: none;
  color: white;
}

.stats {
  color: white;
}

.mod-row {
  height: 100%;
}

/* div.col-6 {
  height: auto;
} */

.Modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.Modal--body {
  padding: 20px;
  margin-top: 100px;
  background: white;
  min-width: 400px;
  max-width: 600px;
}
