* {
  padding: 0;
  margin: 0;
}

.cust__active {
  font-weight: bolder;
}

.header {
  background-color: hotpink;
}

a:hover {
  text-decoration: none;
}

.data-collapse {
  background-color: hotpink;
  z-index: 3;
}

div > p.lorem {
  z-index: 0;
  display: none;
  color: white;
}

.stats {
  color: white;
}
